<mat-toolbar color="primary">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

        <a mat-menu-item routerLink="/">
            <mat-icon>home</mat-icon>
            Home
        </a>

        <a mat-menu-item routerLink="/services">
            <mat-icon>local_mall</mat-icon>
            Services
        </a>

    </mat-menu>

    <span>
        Serpla-UI
    </span>

</mat-toolbar>