<app-layout>
    <p>services</p>

    <ng-container *ngIf="showEditComponent; then serviceEdit else serviceList"></ng-container>

    <ng-template #serviceEdit>
        <app-service-edit (onCancel)="serviceEditCancel()" (onSubmitted)="serviceEditSubmitted()"
            [serviceId]="toServiceId" />
    </ng-template>

    <br />

    <ng-template #serviceList>
        <button mat-raised-button (click)="addServiceClicked()">Add a new service</button>
    </ng-template>

    <app-service-list (onUpdate)="onUpdateService($event)" />

</app-layout>